* {
  margin: 0;
}
body {
  font: normal 24px Arial;
  background-color: rgb(3, 57, 86);
}
header {
  margin-top: 30px;
  color: white;
  text-align: center;
}
section {
  padding: 10px;
  margin: 30px auto 30px auto;
  background-color: white;
  width: 500px;
  /* height: 500px; */
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.283);
}
div {
  padding: 20px 20px 0px 20px;
}
div#res {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: #0e0e5e;
  text-align: center;
}
p {
  padding: 15px;
}
p#buttonVerified {
  text-align: center;
}
input {
  color: #0e0e5e;
  font: Bold 20px Arial;
  text-align: center;
  border-radius: 5px;
}
input#button {
  color: rgb(255, 255, 255);
  background-color: #616cdb;
  padding: 10px 60px;
  border-radius: 25px;
  border: 3px solid #616cdb;
}
input#button:hover {
  color: black;
  background-color: white;
  border: 3px solid #3498db;
}

img {
  margin-top: 20px;
}

footer {
  color: white;
  font-style: italic;
  text-align: center;
}
