* {
  margin: 0;
}
body {
  font: normal 24px Arial;
  background-color: rgb(3, 57, 86);
}
header {
  margin-top: 30px;
  color: white;
  text-align: center;
}
section {
  padding: 10px;
  margin: 30px auto 30px auto;
  background-color: white;
  width: 500px;
  /* height: 500px; */
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.283);
}
div {
  padding: 20px;
}
p {
  padding: 15px;
}
input {
  font: Bold 20px Arial;
  color: #0e0e5e;
  text-align: center;
  border-radius: 5px;
}
footer {
  color: white;
  font-style: italic;
  text-align: center;
}
