* {
  margin: 0;
}
body {
  font: normal 24px Arial;
  background-color: rgb(202, 175, 52);
}
header {
  margin-top: 30px;
  color: white;
  text-align: center;
}
section {
  padding: 30px;
  margin: 30px auto 30px auto;
  background-color: white;
  width: 500px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.283);
}
div {
  text-align: center;
  padding: 20px;
  font-weight: bold;
}
footer {
  color: white;
  font-style: italic;
  text-align: center;
}
